<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
	<h2>Login</h2>

	<div class="control-row">
		<div class="control no-margin">
			<label for="email">Email</label>
			<input id="email" type="email" [formControl]="myForm.controls.myEmail"/>
		</div>

		<div class="control no-margin">
			<label for="password">Password</label>
			<input id="password" type="password" formControlName="myPassword"/>
		</div>

		<button class="button">Login</button>
	</div>

	@if (EmailIsValid) {
		<p class="control-error">
			The email address is not valid.
		</p>
	}

	@if (PasswordIsValid) {
		<p class="control-error">
			The password is not valid.
		</p>
	}
</form>